
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#m1 {
    width: 250px;
    float: left;
    margin-right: 10px;
    }
    #m2{
        width:60px;
        float:right;
        margin-right:10px;
      
    }
    
    a {
    color: #FFF;
    }
    
    #container {
    
        padding-left: 35px;
   
    }
    
    nav {
    margin: 50px 0;
    background-color: black;
    }
    
    nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    }
    
    nav ul li {
    display: inline-block;
    background-color: black;
    }
    
    nav a {
    display: block;
    padding: 0 10px;
    color: white;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    }
    
    nav a:hover {
    background-color: gray;
    }
    
    
    nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    }
    
    
    nav ul li:hover > ul {
    display: inherit;
    }
    
    /* Fisrt Tier Dropdown */
    nav ul ul li {
    width: 250px;
    float: none;
    display: list-item;
    position: relative;
    }
    .sign{
        float: right;
    }

#p1 {
	font-family:cursive;
	font-size:100%;
}

#p2 {
	font-family:cursive;
	font-size:100%;
}

* {
	box-sizing: border-box
}

body {
	font-family: Verdana, sans-serif;
	margin: 0
}

.mySlides {
	display: none
}

img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	max-width: 700px;
	position: sticky;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
	}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

	.active, .dot:hover {
		background-color: #717171;
	}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}
#p3 {
	font-family:cursive;
	font-size:100%;
}

#p4 {
	font-family:cursive;
	font-size:100%

}
#d1{
	font-family:cursive;
	font-size:100%;
}

#t1 {
	background-color:white
}

#d2{
	font-family:cursive;
	font-size:100%
}

#t2{
	background-color:white;
}

#d3{
	font-family:cursive;
	font-size:100%
}

#t3{
	background-color:white;
	
}

#d4{
	font-family:cursive;
	font-size:100%
}

#t4{
	background-color:white;
}

#d5{
	font-family:cursive;
	font-size:100%;
}
#t5{
	background-color:white;
}

#d6{
	font-family:cursive;
	font-size:100%;
}

#t6{
	background-color:white;
}

#d7{
	font-family:cursive;
	font-size:100%;
}
#t7{
	background-color:white;
}
#b1 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#b2 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#b3 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#b4 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#b5 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#b6 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#b7 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#b8 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}


.btn {
	background-color: #04AA6D;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

#pay1 {
	text-align:right;
}

#fie2 {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

#fie1 {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}




.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

table {
	background-color: #f2f2f2;
}
a {
	color: #FFF;
}

#container {
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

img {
	display: block;
	width: 100%;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.slideshow {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	position: absolute;
	top: 0;
	left: 0;
	width: 500%;
	height: 100%;
	animation: anim 30s ease-in-out infinite;
}

.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	&:nth-child(1), &:nth-child(5)
}





@keyframes anim {
	0% {
		transform: translateX(0);
	}

	10% {
		transform: translateX(-20%);
	}

	25% {
		transform: translateX(-20%);
	}

	35% {
		transform: translateX(-40%);
	}

	50% {
		transform: translateX(-40%);
	}

	60% {
		transform: translateX(-60%);
	}

	75% {
		transform: translateX(-60%);
	}

	85% {
		transform: translateX(-80%);
	}

	100% {
		transform: translateX(-80%);
	}
}


.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 400px;
	padding: 20px 1px;
	margin: 10px 0;
	text-align: center;
	position: relative;
	cursor: pointer;
	box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
	border-radius: 10px;
	background-color: #6B6ECC;
	background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
	margin-left:45px;
	height:500px;

}

.selec1 {
	padding: 20px;
}

	.selec1 .price {
		color: white;
		font-weight: 800;
		font-size: 50px;
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
	}

	.selec1 .description {
		color: rgba(255, 255, 255, 0.6);
		margin-top: 10px;
		font-size: 14px;
	}

	.selec1 .title {
		font-weight: 800;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.64);
		margin-top: 10px;
		font-size: 25px;
		letter-spacing: 1px;
	}

button {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: none;
	outline: none;
	color: rgb(255 255 255);
	text-transform: uppercase;
	font-weight: 700;
	font-size: .75rem;
	padding: 0.75rem 1.5rem;
	background-color: rgb(33 150 243);
	border-radius: 0.5rem;
	width: 90%;
	text-shadow: 0px 4px 18px #2c3442;
}




.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}


.row::after {
	content: "";
	clear: both;
	display: table;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", Arial, Helvetica, sans-serif;
}

.formbold-mb-5 {
	margin-bottom: 20px;
}

.formbold-pt-3 {
	padding-top: 12px;
}

.formbold-main-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 48px;
}

.formbold-form-wrapper {
	margin: 0 auto;
	max-width: 550px;
	width: 100%;
	background: white;
}

.formbold-form-label {
	display: block;
	font-weight: 500;
	font-size: 16px;
	color: #07074d;
	margin-bottom: 12px;
}

.formbold-form-label-2 {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}

.formbold-form-input {
	width: 100%;
	padding: 12px 24px;
	border-radius: 6px;
	border: 1px solid #e0e0e0;
	background: white;
	font-weight: 500;
	font-size: 16px;
	color: #6b7280;
	outline: none;
	resize: none;
}

	.formbold-form-input:focus {
		border-color: #6a64f1;
		box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
	}

.formbold-btn {
	text-align: center;
	font-size: 16px;
	border-radius: 6px;
	padding: 14px 32px;
	border: none;
	font-weight: 600;
	background-color: #6a64f1;
	color: white;
	width: 100%;
	cursor: pointer;
}

	.formbold-btn:hover {
		box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
	}

.formbold--mx-3 {
	margin-left: -12px;
	margin-right: -12px;
}

.formbold-px-3 {
	padding-left: 12px;
	padding-right: 12px;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.w-full {
	width: 100%;
}

@media (min-width: 540px) {
	.sm\:w-half {
		width: 50%;
	}
}

.footer{
    left:0;
    bottom:0;
    position:inherit;
    width: 100%;
    background-color: rgb(147, 147, 215);

    
}
#about{
    color:#EFEFEF;
    background-color:rgb(73, 73, 158);
    border-color: rgb(73, 73, 158); 
    font-size: 30px;
    border-radius: 8px;
    margin: 10px;
    inline-size: 200px;
    margin-bottom: 50px;
	padding: 5px 0 0 0;
    
}
#contact{
    float: right;
    color:white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top:15px;
    margin-right:10px;
}
#icon{
    text-align:right;
    margin-right: 20px;
    margin-bottom: 10px;;
    color:white;
    
}

.del1{
	text-align: center;
	font-size: 16px;
	border-radius: 6px;
	padding: 14px 32px;
	border: none;
	font-weight: 600;
	background-color: #6a64f1;
	color: white;
	max-width:350px ;
	cursor: pointer;
}